<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
          <%= render 'shared/following_stats' %>
        </section>
        
	<section>
	<%= image_tag("LogoThumb.jpg", alt: "Empowler")%>
	<p>Feel free to share your  ideas</p>
        </section>
	
        <section>
          <h3>Popular Ideas</h3>
          <%= render 'shared/popular_ideas' %>
        </section>
	
      </aside>
      <div class="span8">
        <h3>Ideas you are following</h3>
	<%if @feed_items.empty?%>
	<h4>Select your favourite brand and start sharing and jumping into ideas</h4>
	<%end%>
        <%= render 'shared/feed' %>
      </div>
    </div>
	<section>
          <h3>Share your ideas for...</h3></br>
        <%= render 'shared/home_brands'%>
        </section>
<% else %>
 <h2>Empowler</h2>
 <h2>Think | Act | Transform</h2>
    <div class="hero-unit">      
     
	<table class="home_table">
	<tr>
	
	<td><%= render 'static_pages/popular_ideas'%></td>
	
	<td><%= image_tag("home.jpg", alt: "Empowler")%></td>
	
	</tr>	
	</table>     
   
	
	<a href = <%= url_for(signup_path)%> >
	<div class = "button">
   	<h3>Sign Up!</h3>	
	<p>Start sharing!</p>
	</div>
	</a>
	
    </div>
	
	

    <%= image_tag("LogoThumb.jpg", alt: "Empowler")%>
<% end %> 

