<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/following_stats' %>
        </section>
        <section>
          <h3>Popular Ideas</h3>
          <%= render 'shared/popular_ideas' %>
        </section>
	<section>
          <h3>Popular Users</h3>
        </section>
      </aside>
      <div class="span8">
        <h3>Ideas you are following</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to Empowler</h1>
      <h2>
        Sign Up and start sharing your ideas
      </h2>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>

    <%= link_to image_tag("LogoThumb.jpg", alt: "Empowler"), '#' %>
<% end %> 
<section>
          <h3>Share your ideas!</h3>
          <%= render 'shared/home_brands' %>
        </section>
