
<td>
  
  <h4><%= idea.content %></h4>
  <span class="followers">  Supporters: <%= idea.followers.count %></span>
  <span class="timestamp"> Posted <%= time_ago_in_words(idea.created_at) %> ago. </span> 
  <p><b>Creada por:</b>
  <%=link_to idea.user.name, idea.user %>
  </p>	
  <% if current_user != nil %>
	<%=render :partial => 'users/follow_form',  :locals => {:idea => idea} %>
  <% else %>
	<h5><%=link_to "Resgistrate para unirte a esta idea!" , signup_path%></h5> </br>
  <% end %>
  </td>
  <td>
	</br>
  <%= tweet_button(:text => "Únete a mi idea! in @Empowler! #{idea.content}", :count => "horizontal", :related => "Empowler", :url => "https://empowler.herokuapp.com/#{url_for(idea)}") %>
 <%=render :partial => 'shared/fbshare',  :locals => {:idea => idea} %>
   <%if not current_user == nil%>
	
	<% if current_user.admin?%>
      | <%= link_to "delete idea", idea, method: :delete,
                    data: { confirm: "You sure?" } %>
  <% end %>
  <% end %>
  </td>
  

