<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @idea.content %>
</p>

<p>
  <b>Created by:</b>
  <%= @user.name %>
</p>

<p>
  <b>Followers:</b>
  <%= @idea.followers.count %>
</p>


<a href="https://twitter.com/share" class="twitter-share-button" data-url=<%url_for @idea%> data-text="Texto del tweet" data-via="Empowler" data-size="large" data-related="Empowler" data-hashtags="Idea">Tweet</a>

</br>

<%=link_to "View other ideas for ".concat(@brand.name) , brand_path(@brand)%>

<p>
