<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/following_stats' %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.ideas.any? %>
        <h3>Ideas (<%= @user.ideas.count %>)</h3>
        <ol class="ideas">
          <% @user.ideas.each do |idea| %>
              <%= render 'ideas/idea',:idea => idea %>
          <% end %>
        </ol>
        <%= will_paginate @ideas %>
    <% end %>
  </div>
</div>