
  <td><h3><%= feed_item.content %></h3>
       <h4>Friends aboard this mission:</h4> <h3><%= feed_item.followers.count %></h3>
       <span class="timestamp">
    	Posted <%= time_ago_in_words(feed_item.created_at) %>
  	</span> 
  </td>
  <td>	 
        <% if current_user != nil %>
	<%=render :partial => 'users/follow_form',  :locals => {:idea => feed_item} %>
  	<%end%> 
  </td>
  <td>
	  	<%= tweet_button(:via => "Empowler", :text => feed_item.content, :count => "horizontal", :related => 		"Empowler") %>	  
	 	 
	 	 <%= facebook_like(url_for(feed_item)) %> 
  </td>

