<%= form_for(@newidea) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "It would be great if  #{@brand.name}" %>
    </div>  
        
        <%= hidden_field_tag  'brand_id', params[:id] %>
    <%= f.submit "Share new idea!", class: "btn btn-large btn-primary" %>
<% end %>
